{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1>Listado de Dispositivos</h1>
<a href="/nuevoDispositivo" class="btn btn-primary">Agregar Dispositivo</a>

<table class="table table-bordered table-striped table-hover" id="tbl_dispositivos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Tipo</th>
            <th>Sistema Operativo</th>
            <th>Modelo</th>
            <th>Fecha Autorización</th>
            <th>Imagen</th>
            <th>Documento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for d in dispositivos %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.usuario.nombre }}</td>
            <td>{{ d.tipo }}</td>
            <td>{{ d.sistema_operativo }}</td>
            <td>{{ d.modelo }}</td>
            <td>{{ d.fecha_autorizacion }}</td>
            <td>
                {% if d.logo %}
                    <img src="{{ d.logo.url }}" height="80px" alt="">
                {% else %}
                    Ninguno
                {% endif %}
            </td>
            <td>
                {% if d.archivo %}
                    <a href="{{ d.archivo.url }}" class="btn btn-primary" target="_blank">Ver PDF</a>
                    <a href="{{ d.archivo.url }}" class="btn btn-primary" download>Descargar PDF</a>
                {% else %}
                    Ningún archivo
                {% endif %}
            </td>
            <td>
                <a href="/editarDispositivo/{{ d.id }}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
                <a href="#" onclick="eliminarDispositivo('{{ d.id }}');" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function eliminarDispositivo(id) {
        Swal.fire({
            title: "CONFIRMACIÓN",
            text: "¿Estás seguro de eliminar este dispositivo?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, eliminar"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/eliminarDispositivo/" + id;
            }
        });
    }

    let table = new DataTable('#tbl_dispositivos', {
        language: {
            url: 'https://cdn.datatables.net/plug-ins/2.3.1/i18n/es-ES.json',
        },
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'copy',
                        text: 'Copiar',
                        className: 'btn btn-outline-primary'
                    },
                    {
                        extend: 'csv',
                        text: 'CSV',
                        className: 'btn btn-outline-primary'
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-outline-primary'
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        className: 'btn btn-outline-primary'
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        className: 'btn btn-outline-primary'
                    },
                ]
            }
        },
    });
</script>
{% endblock %}
