{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <br>
    <div class="col-md-12 bg-light"> 
        <h1 class="text-center">Nuevo Usuario</h1><br>

        <form action="/guardarUsuario" enctype="multipart/form-data" method="post" id="frm_nuevo_usuario">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-12">
                    <div class="form-floating mb-4">
                        <input placeholder="Ingrese el nombre del usuario" class="form-control border-0" type="text" name="nombre" id="nombre" required>
                        <label for="nombre">Nombre completo:</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-floating mb-4">
                        <input placeholder="Ingrese el correo" class="form-control border-0" type="email" name="email" id="email" required>
                        <label for="email">Correo electrónico:</label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-floating mb-4">
                        <input placeholder="Ingrese el número" class="form-control border-0" type="number" name="telefono" id="telefono">
                        <label for="telefono">Teléfono:</label>
                    </div>
                </div>

                <label for="logo">Logotipo:</label>
                <input type="file" name="logo" id="logo" class="form-control border-0" required> <br>

                <label for="archivo">Documento legal (PDF):</label>
                <input type="file" name="archivo" id="archivo" class="form-control border-0" required> <br>
                <br><br>
                <div class="col-md-12 text-end">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <a class="btn btn-outline-danger" href="/usuarios">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<script>
    $("#frm_nuevo_usuario").validate({
        rules: {
            "nombre": {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            "email": {
                required: true,
                email: true
            },
            "telefono":{
                required: true,
                minlength: 10,
                maxlength: 10
            }
        },
        messages: {
            "nombre": {
                required: "Campo obligatorio",
                minlength: "Debe tener al menos 3 caracteres",
                maxlength: "Máximo 50 caracteres"
            },
            "email": {
                required: "Campo obligatorio",
                email: "Debe ingresar un correo válido"
            },
            "telefono":{
                Number: "Solo se aceptan números",
                required: "Campo obligatorio",
                minlength: "Debe ingresar minimo 10 caracteres",
                maxlength: "Debe ingresar maximo 10 caracteres"
            }
        },
        errorPlacement: function (error, element) {
            if (element.closest('.form-floating').length) {
                error.insertAfter(element.closest('.form-floating')); // inserta después del contenedor
            } else {
                error.insertAfter(element);
            }
        }
    });

    $("#logo").fileinput({
        language: "es",
        allowedFileExtensions: ["png", "jpg", "jpeg"],
        showCaption: false,
        dropZoneEnabled: true,
        showClose: false,
        showUpload: false,
        showCancel: false,
        maxFileCount: 1
    });

    $("#archivo").fileinput({
        language: "es",
        allowedFileExtensions: ['pdf'],
        showCaption: false,
        dropZoneEnabled: true,
        showClose: false,
        showUpload: false,
        showCancel: false,
        maxFileCount: 1
    });
</script>
{% endblock %}
